body{
    
    text-align: center;
}

.mh {
    font-family: 'Open Sans Condensed', cursive;
    font-size: 100px;
    text-shadow: 4px 4px 30px rgb(121, 92, 92);
    margin-top: 0;
}
.cover{
    
    height:400px; 
    background: url(../images/cover.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
.block {
    font-size: 100px;
    font-family: 'Tangerine', serif;   
    margin: 50px 20px; 
  }

.blcontent {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    margin: 10px 100px;
    
}
ul li {
    list-style-type: none;
}
.ava {
    position: relative;
    top: -100px;

    display: block;
    margin: 0 auto;

    width: 400px;
    height: 400px;

    border-radius: 50%;
    box-shadow: 10px 10px 20px grey;

}
p {
    margin: 10px;
}
@media only screen and (max-width: 600px) {
    
   
    .ava{
    width: 170px;
    height: 170px;
    }
    .cover{
        height: 300px;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
     overflow: hidden;
    background-color: #333;
  }
  
  li {
  

    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  } 
  