body {
    text-align: center;
}

h1{
    color: aquamarine;
    font-size: 100spx;
    background-color: gold
    font-family: 'Mansalva', cursive;
}

p {
    font-size: 100spx;
    color:blue (102, 13, 175);
}
.red {
    font-size: 30px;
    font-size: 30px;
    font-size: 30px;
}
img {
width: 300px;
height: 300px;

border-radius: 100%;
box-shadow: 10px 10px 10px gold;
}с