body{
    
    text-align: center;
}

.mh {
    font-family: 'Notable', sans-serif;
    font-size: 100px;
    text-shadow: 4px 4px 30px rgb(121, 92, 92);
    margin-top: 0;
}
.cover{
    
    height:400px; 
    background: url(../images/base.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
.block {
    font-size: 100px;
    font-family: 'Tangerine', serif;   
    margin: 50px 20px; 
  }

.blcontent {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    margin: 10px 100px;
    
}
ul li {
    list-style-type: none;
}
.ava {
    position: relative;
    top: -0px;

    display: block;
    margin: 0 auto;

    width: 400px;
    height: 400px;

    border-radius: 50%;
    box-shadow: 10px 10px 20px grey;

}

.ava:hover {
    content: url(../images/angry.jpeg);
    height: 70%;
    transform: scaleY(3.0);
    transform: scaleX(3.0);
}  

.background:hover {
    content: url(../images/nnn.jpg)
}

.
p {
    margin: 10px;
}

@media screen and(max-width: 750px){
.ava{
    position: relative;
    top: -100px;

    display: block;
    margin: 0 auto;

    width: 200px;
    height: 200px;

    border-radius: 50%;
    box-shadow: 10px 10px 20px blue;

}

}

    

