ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
  color: #ff9999;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}
li a:hover {
    background-color: #ffe6e6;
    color: white;
  }
.oh{
    text-align: center;
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    text-shadow: 4px 4px 30px #white;
    margin-top: 0;
    color:#ff9999;
    
}
h2{
  text-align: center;
  font-family: 'Mansalva', cursive;
  font-size: 50px;
  text-shadow: 4px 4px 30px #white;
  color:#ff9999;
}
div{
  text-align: center;
}
.koshka{
 background-color: #8080ff!important;
 font-family: 'Mansalva', cursive;
}
