body{
    
    text-align: center;
}

.mh {
    font-family: 'Open Sans Condensed', cursive;
    font-size: 30px;
    text-shadow: 40px 40px 50px rgb(98, 0, 255);
    margin-top: 5;
}
.cover{
    
    height:400px; 
    background: url(../images/cover.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
.block {
    font-size: 50px;
    font-family: 'Tangerine', serif;   
    margin: 100px 200px; 
  }

.blcontent {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin: 10px 50px;
    
}
ul li {
    list-style-type: none;
}
.ava {
    position: relative;
    top: -30spx;

    display: block;
    margin: 0 auto;

    width: 500px;
    height: 500sspx;

    border-radius: 50%;
    box-shadow: 30px 30px 40px rgb(255, 0, 0);

}
p {
    margin: 50px;
}
@media only screen and (max-width: 600px) {
    .ava {

    
        width: 200px;
        height: 200px;
    
   
    
    }
  }
    