body{
    
    text-align: center;
}

.mh {
    font-family: 'Mansalva', cursive;
    font-size: 100px;
    text-shadow: 4px 4px 30px rgb(143, 16, 228);
    margin-top: 0;
}
.blcontent {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    margin: 10px 100px;
    
}
.aizhana {
    position: relative;
    top: 0px;

    display: block;
    margin: 0 auto;

    width: 400px;
    height: 400px;

    border-radius: 50%;
    box-shadow: 10px 10px 20px grey;

}
p {
    margin: 10px;
}
@media only screen and (max-width: 400px) {
    body {
      background-color: rgb(210, 223, 29);
    }
     .aizhana  { 
         width: 100px;
        height: 100px;
        box-shadow: 4px 4px 10px grey;}
        .mh {
            font-size: 20px;
        }
        .blcontent{font-size: 10px;
        }

    }